In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("survey.csv")

In [3]:
num_columns = len(df.columns)

In [4]:
pd.set_option("display.max_columns", num_columns)

In [5]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [6]:
feature_names = df.columns.tolist()
feature_names.remove('Timestamp')
feature_names.remove('comments')

for column in feature_names:
    print (column)
    print (df[column].value_counts(dropna=False))

Age
 29             85
 32             82
 26             75
 27             71
 33             70
 28             68
 31             67
 34             65
 30             63
 25             61
 35             55
 23             51
 24             46
 37             43
 38             39
 36             37
 39             33
 40             33
 43             28
 22             21
 41             21
 42             20
 21             16
 46             12
 45             12
 44             11
 19              9
 18              7
 20              6
 48              6
 50              6
 51              5
 49              4
 56              4
 57              3
 55              3
 54              3
 60              2
 47              2
 72              1
-29              1
 62              1
 329             1
 65              1
-1726            1
-1               1
 61              1
 58              1
 53              1
 5               1
 11              1
 8               1
 99999999999     1
Name: Age, dtype: int64
Gender
Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Woman                                               3
Male                                                3
Female (trans)                                      2
Female                                              2
Cis Male                                            2
Man                                                 2
femail                                              1
Androgyne                                           1
p                                                   1
Malr                                                1
something kinda male?                               1
queer/she/they                                      1
male leaning androgynous                            1
cis-female/femme                                    1
Male (CIS)                                          1
cis male                                            1
fluid                                               1
Trans-female                                        1
Femake                                              1
queer                                               1
ostensibly male, unsure what that really means      1
maile                                               1
Neuter                                              1
Guy (-ish) ^_^                                      1
Cis Man                                             1
Genderqueer                                         1
msle                                                1
Trans woman                                         1
Mail                                                1
Cis Female                                          1
Female (cis)                                        1
Mal                                                 1
Enby                                                1
Nah                                                 1
All                                                 1
woman                                               1
Agender                                             1
A little about you                                  1
non-binary                                          1
Male-ish                                            1
Name: Gender, dtype: int64
Country
United States             751
United Kingdom            185
Canada                     72
Germany                    45
Netherlands                27
Ireland                    27
Australia                  21
France                     13
India                      10
New Zealand                 8
Poland                      7
Switzerland                 7
Sweden                      7
Italy                       7
Belgium                     6
South Africa                6
Brazil                      6
Israel                      5
Singapore                   4
Bulgaria                    4
Finland                     3
Russia                      3
Austria                     3
Mexico                      3
Portugal                    2
Croatia                     2
Greece                      2
Colombia                    2
Denmark                     2
Georgia                     1
Czech Republic              1
Uruguay                     1
Slovenia                    1
Moldova                     1
Bahamas, The                1
Zimbabwe                    1
Thailand                    1
Philippines                 1
Latvia                      1
Norway                      1
Romania                     1
Spain                       1
Bosnia and Herzegovina      1
Hungary                     1
China                       1
Nigeria                     1
Japan                       1
Costa Rica                  1
Name: Country, dtype: int64
state
NaN    515
CA     138
WA      70
NY      57
TN      45
TX      44
OH      30
OR      29
PA      29
IL      29
IN      27
MI      22
MN      21
MA      20
FL      15
VA      14
NC      14
GA      12
WI      12
MO      12
UT      11
CO       9
MD       8
AL       8
AZ       7
NJ       6
OK       6
SC       5
KY       5
CT       4
DC       4
IA       4
NH       3
KS       3
VT       3
SD       3
NV       3
NE       2
NM       2
WY       2
ID       1
ME       1
RI       1
WV       1
LA       1
MS       1
Name: state, dtype: int64
self_employed
No     1095
Yes     146
NaN      18
Name: self_employed, dtype: int64
family_history
No     767
Yes    492
Name: family_history, dtype: int64
treatment
Yes    637
No     622
Name: treatment, dtype: int64
work_interfere
Sometimes    465
NaN          264
Never        213
Rarely       173
Often        144
Name: work_interfere, dtype: int64
no_employees
6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64
remote_work
No     883
Yes    376
Name: remote_work, dtype: int64
tech_company
Yes    1031
No      228
Name: tech_company, dtype: int64
benefits
Yes           477
Don't know    408
No            374
Name: benefits, dtype: int64
care_options
No          501
Yes         444
Not sure    314
Name: care_options, dtype: int64
wellness_program
No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64
seek_help
No            646
Don't know    363
Yes           250
Name: seek_help, dtype: int64
anonymity
Don't know    819
Yes           375
No             65
Name: anonymity, dtype: int64
leave
Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64
mental_health_consequence
No       490
Maybe    477
Yes      292
Name: mental_health_consequence, dtype: int64
phys_health_consequence
No       925
Maybe    273
Yes       61
Name: phys_health_consequence, dtype: int64
coworkers
Some of them    774
No              260
Yes             225
Name: coworkers, dtype: int64
supervisor
Yes             516
No              393
Some of them    350
Name: supervisor, dtype: int64
mental_health_interview
No       1008
Maybe     207
Yes        44
Name: mental_health_interview, dtype: int64
phys_health_interview
Maybe    557
No       500
Yes      202
Name: phys_health_interview, dtype: int64
mental_vs_physical
Don't know    576
Yes           343
No            340
Name: mental_vs_physical, dtype: int64
obs_consequence
No     1075
Yes     184
Name: obs_consequence, dtype: int64

In [7]:
df.columns.tolist()

['Timestamp',
 'Age',
 'Gender',
 'Country',
 'state',
 'self_employed',
 'family_history',
 'treatment',
 'work_interfere',
 'no_employees',
 'remote_work',
 'tech_company',
 'benefits',
 'care_options',
 'wellness_program',
 'seek_help',
 'anonymity',
 'leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'coworkers',
 'supervisor',
 'mental_health_interview',
 'phys_health_interview',
 'mental_vs_physical',
 'obs_consequence',
 'comments']